{% extends 'partials/base.html' %}
{% block title %}Inventory{% endblock %}
{% load crispy_forms_tags %}
{% block content %}
{% load crispy_forms_tags %}
<!--Table-->
     <div class="container">
        <div class="row my-4">
            <div class="col-md-4">
                {% if messages %}
                {% for message in messages %}
                <div class="text-uppercase fw-bold text-danger alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="card">
                    <div class="card-header bg-info text-white text-uppercase fw-bold">
                       ADD Buyer 
                    </div>
                    <div class="card-body mt-1 text-uppercase">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-info btn-block mt-2 text-uppercase" type="submit" value="ADD Buyer">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-md-8">
                <table class="table bg-white text-uppercase">
                    <thead class="bg-info text-white fw-bold">
                        <tr>
                            <th scope="col">Buyer ID</th>
                            <th scope="col">Buyer NAME</th>
                            <th scope="col">Active</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for clientDATA in clientDATA %}
                        <tr>
                            <td>{{ clientDATA.id }}</td>
                            <td>{{ clientDATA.name }}</td>
                            <td><a class="btn btn-info btn-sm float-right" href="{% url 'fslplan-buyer-edit' clientDATA.id %}">Edit</a></td>
                            <td><a class="btn btn-info btn-sm float-right" href="{% url 'fslplan-Buyer_style-list' clientDATA.id %}">Style</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{%endblock%}