{% extends 'partials/base.html' %}
{% block title %}Employee{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load static %}
{%include 'partials/searchBarStyle.html'%}
<script src="{% static 'js/jquery.fixedTableHeader.js'%}"></script>
<!--Table-->
        <div class="row my-2">
            <div class="col-4 col-sm-3">
                <div class="card">
                    <div class="card-header bg-info text-white text-uppercase fw-bold">
                       ADD Employee
                    </div>
                    <div class="card-body mt-1 text-uppercase">
                        <form method="POST">
                            {% csrf_token %}
                            {{ form|crispy }}
                            <input class="btn btn-info btn-block mt-2 text-uppercase" type="submit" value="ADD Employee">
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-8 col-sm-9">
                <table class="table bg-white text-uppercase">
                    <thead class="bg-info text-white">
                        <tr>
                            <th scope="col">SL</th>
                            <th scope="col">Login ID</th>
                            <th scope="col">Name</th>
                            <th scope="col">ID</th>
                            <th scope="col">Unit</th>
                            <th scope="col">Department</th>
                            <th scope="col">Email</th>
                            <th scope="col"></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for staff in staff %}
                        <tr>
                            <th>{{forloop.counter}}</th>
                            <td>{{ staff.loginuser }}</td>
                            <td>{{ staff.name }}</td>
                            <td>{{ staff.officeID }}</td>
                            <td>{{ staff.officeLocation }}</td>
                            <td>{{ staff.department }}</td>
                            <td class="text-lowercase">{{ staff.loginuser.email }}</td>

                            <td scope="row"><a class="btn btn-info btn-sm" href="{% url 'dashboard-staff-detail' staff.id %}">VIEW</a></td>
                            <td><a class="btn btn-info btn-sm float-right" href="{% url 'dashboard-staff-update' staff.id%}">Edit</a></td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
<script>
    jQuery(($) => {
        $(".example").fixedTableHeader();
    })
</script>
{%endblock%}